
/*Custom CSS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}


.toggle-btn {
  position: fixed;
  margin: 1.4em;
  padding: 1em;
  width: 40px;
  height: 12px;
  right: 0;
  z-index: 1;
}

span.one, span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
}

span.two {
  margin-top: 12px;
}

.menu {
  z-index: 0;
  position: absolute;
  background: #101010;
  height: 100vh;
  width: 100%;
  left: 0;
}

.data {
  padding: 8em 0 0 2em;
  text-align: left;
}

ul {
  list-style: none;
}

li:first-child {
  color: grey;
  font-size: 24px;
}

li:not(:first-child) {
  color: #fff;
  font-size: 42px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
